# Lista 01 - Prof. Dr. Leandro Ferreira

## 01

1 - O arquivo claims.csv contém uma amostra aleatória de 996 apólices de seguros de veículos referente ao período 2004-2005. As variáveis do arquivo estão na seguinte ordem : (i) valorv (valor do veículo em 10000 dolares australianos), (ii) expos (exposição do veículo), (iii) nsinistros (número de sinistros no período), (iv) csinistros (custo total dos sinistros em dolares australianos), (v) tipov (tipo do veículo em 11 categorias), (vi) idadev (idade do veículo em 4 categorias), (vii) sexoc (sexo do condutor principal), (viii) areac (área de residência do condutor principal) e (ix) idadec (idade do condutor principal em 6 categorias).

Faça uma análise descritiva dos dados e procure agrupar em um número menor de categorias algumas variáveis categóricas. Considere como variável resposta (target) cmsinistros = csinistros/nsinistros.

a) Qual é a relação da variável cmsinistros com sexo? Algum sexo é maior em média? Você consegue defender seu argumento utilizando as tecnicas que estudou?

b) Estude cmsinistros em relação a idade do condutor. Sua impressão muda se adicionarmos a variável sexo?

c) Existe uma relação clara de aumento de risco cmsinistros em relação ao valor do veículo?

d) Faça uma amostra -Aleatória simples (200) -Estratificada (100 do sexo Masculino e 100 do sexo feminino)

In [43]:
import pandas as pd
from sklearn.model_selection import train_test_split
import seaborn as sns

url = 'https://raw.githubusercontent.com/julio-monzem/estatistica-aplicada/refs/heads/main/claims.csv'

dados = pd.read_csv(url, delimiter=';', decimal=',')

dados['cmsinistros'] = dados.csinistros / dados.nsinistros

### Resolução 01 - A

In [25]:
# a

dados.groupby('sexoc')['cmsinistros'].mean()

sexoc
F    1643.213070
M    1847.837336
Name: cmsinistros, dtype: float64

### Resolução 01 - B

In [24]:
# b

dados.groupby('idadec')['cmsinistros'].mean().sort_values(ascending=0)

idadec
1    2269.896792
6    2218.380752
2    2038.275348
3    1522.014118
5    1500.364602
4    1354.427201
Name: cmsinistros, dtype: float64

In [23]:
# b

dados.groupby(['idadec', 'sexoc'])['cmsinistros'].mean().sort_values(ascending=0)

idadec  sexoc
1       M        3088.086792
6       M        2248.099485
        F        2187.970886
2       F        2161.324213
        M        1854.443310
1       F        1703.457561
3       M        1660.891381
5       M        1581.152216
4       M        1444.223787
5       F        1425.187239
3       F        1420.526888
4       F        1290.286782
Name: cmsinistros, dtype: float64

### Resolução 01 - C

In [29]:
# c

dados.groupby('tipov')['valorv'].mean().sort_values(ascending=0)

tipov
MCARA    2.805000
BUS      2.790000
STNWG    2.732235
HDTOP    2.352609
TRUCK    2.174250
UTE      2.172483
COUPE    1.937273
MIBUS    1.616667
SEDAN    1.533650
PANVN    1.320909
HBACK    1.238822
Name: valorv, dtype: float64

In [32]:
# c

dados.groupby('tipov')['cmsinistros'].mean().sort_values(ascending=0)

tipov
TRUCK    3082.944329
PANVN    3017.545698
MIBUS    3009.264988
BUS      2620.719994
HDTOP    2134.260055
UTE      1755.482377
HBACK    1751.727786
STNWG    1723.952774
COUPE    1649.644624
SEDAN    1501.759468
MCARA    1284.612499
Name: cmsinistros, dtype: float64

### Resolução 01 - D

In [ ]:
# d

amostra_simples = dados.sample(200)
amostra_simples

,valorv,expos,nsinistros,csinistros,tipov,idadev,sexoc,areac,idadec,cmsinistros
455,1.85,0.186174,1,3948.029991,STNWG,3,F,C,4,3948.029991
465,1.61,0.407940,1,408.950000,SEDAN,3,M,E,5,408.950000
633,2.91,0.796715,1,889.740000,STNWG,1,F,C,4,889.740000
794,3.54,0.106776,1,1081.189999,STNWG,2,M,B,5,1081.189999
347,1.58,0.878850,1,353.770000,SEDAN,3,M,C,2,353.770000
...,...,...,...,...,...,...,...,...,...,...
800,1.74,0.840520,1,462.300003,SEDAN,2,F,C,4,462.300003
793,1.81,0.783025,2,7474.369934,SEDAN,2,M,C,2,3737.184967
122,1.59,0.216290,1,930.809998,UTE,2,M,B,2,930.809998
298,1.02,0.492813,1,353.770000,HBACK,3,M,A,3,353.770000
20,4.46,0.191650,1,989.919998,COUPE,2,M,B,2,989.919998

In [52]:
dados['sexoc'].value_counts()

_, amostra = train_test_split(dados, stratify=dados['sexoc'])
amostra['sexoc'].value_counts()

sexoc
F    142
M    107
Name: count, dtype: int64

## 02

2 - Para esse exercício será utilizado os dados referentes a um estudo de caso-controle realizado no Setor de Anatomia e Patologia do Hospital Heliópolis em São Paulo, no período de 1970 a 1982 (canc3.csv). Um total de 175 pacientes com processo infecioso pulmonar atendido no hospital no período acima foi classificado segundo as seguintes variáveis: tipo, tipo de tumor (1: maligno, 0: benigno); IDADE, idade em anos; SEXO (0:masculino, 1: feminino); HL, intensidade da célula histócitos-linfócitos (1:ausente, 2: discreta, 3: moderada, 4: intensa) e FF, intensidade da célula fibrose-frouxa (1:ausente, 2: discreta, 3: moderada, 4: intensa).

a) Faça uma análise descritiva das variáveis do problema.

b) Existe alguma variável que chama atenção em relação ao tipo de tumor? (Dica: Cruze as variáveis em relação ao tipo de tumor).

In [ ]:
import pandas as pd

url = 'https://raw.githubusercontent.com/julio-monzem/estatistica-aplicada/refs/heads/main/canc3.csv'

dados = pd.read_csv(url, delimiter=';')

dados.head()

   tipo  idade  sexo  hl  ff
0     0     26     1   3   1
1     0     21     1   3   1
2     0     45     1   3   3
3     0     19     2   4   3
4     0     16     2   4   3

### Resolução 02 - A

In [ ]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 175 entries, 0 to 174
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   tipo    175 non-null    int64
 1   idade   175 non-null    int64
 2   sexo    175 non-null    int64
 3   hl      175 non-null    int64
 4   ff      175 non-null    int64
dtypes: int64(5)
memory usage: 7.0 KB

In [ ]:
dados[['sexo', 'tipo', 'hl', 'ff']] = dados[['sexo', 'tipo', 'hl', 'ff']].astype(str)
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 175 entries, 0 to 174
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   tipo    175 non-null    object
 1   idade   175 non-null    int64
 2   sexo    175 non-null    object
 3   hl      175 non-null    object
 4   ff      175 non-null    object
dtypes: int64(1), object(4)
memory usage: 7.0+ KB

In [ ]:
dados.describe()

            idade
count  175.000000
mean    47.702857
std     18.206439
min     15.000000
25%     30.000000
50%     50.000000
75%     61.000000
max     87.000000

### Resolução 02 - B

In [ ]:
dados.groupby('sexo')['tipo'].value_counts()

sexo  tipo
1     0       78
      1       48
2     0       26
      1       23
Name: count, dtype: int64

In [ ]:
dados.groupby('idade')['tipo'].value_counts()

idade  tipo
15     1       1
16     0       1
17     0       1
18     0       4
19     0       1
              ..
78     1       2
       0       1
82     0       1
83     0       1
87     0       1
Name: count, Length: 85, dtype: int64

## 03

3 - Cada amostra de ar tem 10% de chance de conter uma certa molécula rara. Considere que as amostras sejam independentes com relação à presença da molécula rara. Encontre a probabilidade de que em 18 amostras:

a) Exatamente 2 contenham a molécula rara.

b) No mínimo 4 amostras contenham a molécula rara.

c) De 3 a 7 amostras contenham a molécula rara.

d) O número médio e a variância de moléculas raras.

In [ ]:
from scipy.stats import binom

probabilidade = 0.10
n = 18

a = binom.pmf(2, n, probabilidade)
print(a)

b = 1 - binom.cdf(3, n, probabilidade)
print(b)

c = binom.cdf(7, n, probabilidade) - binom.cdf(2, n, probabilidade)
print(c)

q = 1 - probabilidade
nro_medio = n * probabilidade
variancia = n * probabilidade * q

d = (nro_medio, variancia)
print(d)

0.2835120888943317
0.0981968414254375
0.26603054787476754
(1.8, 1.62)